:root{
    --main0clr:#0D0D0D;
}
i{
    cursor: pointer;
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: var(--main0clr);
    color: #f9f6f6 !important;
    overflow-x: hidden;
}
.cursor-pointer{
    cursor: pointer;
}
.side-nav{
    z-index: 99;
}

.nav-items{
    background-color: var(--main0clr);
} 
.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s all;
}

.meal:hover .meal-layer{
    top: 0;
}

.alert{
    width: fit-content;
}

.mainLoading{
    z-index: 999;
    display: flex;
}

.innerLoading{
    position: absolute;
    z-index: 9;
    background-color: var(--main0clr);
    display: flex;
}
